
body {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: forestgreen;}


.nav{
    padding: 10px;
    background:whitesmoke;
}


h1, h2, h3, h4, h5 {font-family: Georgia, 'Times New Roman', Times, serif;
color: whitesmoke}

h6 {font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke  ;}
.nav h1 {color: whitesmoke;}

.subheader{
    background: whitesmoke;
}

.subheader2{
    background: forestgreen;
}
.nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: forestgreen;
    font-size: 16;
}
.nav li {
    display: inline-block;
    color: whitesmoke;
    background: darkgray;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
}

.container_table {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: black;
}

.container_table th {
    text-align: center;
    color: whitesmoke;
}

.container_table th {
    text-align: center;
    color: black;
}

.container_table th p {
    text-align: center;
    color: whitesmoke;
}
.tableheaderr {
    text-align:  right;
}
.tableheaderl {
    text-align: left;
}
#viz1 { background-color: navy;
text-align: center;
}
#viz2 { background-color: forestgreen;
    text-align: center;
    }
@media (max-width: 480px){}


  