
html{ position: relative;}


body {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: forestgreen;}

div {
    resize: vertical;
    overflow: auto;
  }

.navbar h1 {float: left;
color: forestgreen;
background-color: whitesmoke;}
.navbar{
    padding: 10px;
    background:whitesmoke;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}
  
 
  .show {display:block;}


h1, h2, h3, h4, h5, p {font-family: Georgia, 'Times New Roman', Times, serif;
color: whitesmoke}

h6 {font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke  ;}
.nav h1 {color: whitesmoke;}

.subheader{
    background: whitesmoke;
}

.subheader2{
    background: forestgreen;
}
.nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: forestgreen;
    font-size: 16;
}
.nav li {
    display: inline-block;
    float: right;
    color: whitesmoke;
    background: darkgray;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
}

.container_table {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: black;
}

.container_table th {
    text-align: center;
    color: whitesmoke;
}

.container_table th {
    text-align: center;
    color: black;
}

.container_table th p {
    text-align: center;
    color: whitesmoke;
}
.tableheaderr {
    text-align:  right;
}
.tableheaderl {
    text-align: left;
}
#viz1 { background-color: navy;
text-align: center;
}
#viz2 { background-color: forestgreen;
    text-align: center;
    }


@media (max-width: 480px){}


  